{% extends 'base.html' %}

{% block title %}测试{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.preview.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/score.css') }}">
    <style>
    #post-title {
        border-bottom: 1px solid grey;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    #post-title > h1:first-child {
        margin: 0;
        padding: 0;
        border: none;
        font-size: 3em;
    }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div id="post">
        <div id="post-title">
            <h1>{{ post.title }}</h1>
            <small>
                <i class="fas fa-calendar">{{ post.post_time }}</i>|
                <i class="fas fa-user">{{ post.author.user_name }}({{ post.author.email }})</i>|
                <i class="fas fa-tags">测试</i>
            </small>
        </div>
        <textarea style="display: none;">{{ post.content }}</textarea>
        {% if post.author.email == current_user.email %}
        <a href="{{ url_for('editpost', id=post.id) }}" class="btn btn-danger btn-block">编辑</a>
        {% endif %}
    </div>
    <div class="score">
        <div class="score-expression"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {#  以下的js文件都是editormd所需要的  #}
    <script src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/underscore.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/sequence-diagram.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/flowchart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/jquery.flowchart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/js/editormd.min.js') }}"></script>
    {#  文章评分功能所需的js文件  #}
    <script src="{{ url_for('static', filename='js/score.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // var testEditor;
            editormd.markdownToHTML("post", {
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm: true,    // Using [TOCM]
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
            $('.score').score();
        });
    </script>
{% endblock %}