a, a:hover {
    color: #28a745;
}

.btn-outline-success {
    border-color: transparent;
}

.progress {
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.nav-item:not(:last-child) {
    margin-right: 10px;
}

.dropdown-menu {
    min-width: auto;
}